<head>


   <title>GMOD</title>
   
   <STYLE TYPE="text/css">

body {overflow: hidden};

</STYLE>  

   <meta name="robots" content="noindex, nofollow">
   
   <!-- remove or comment this line if you want to use the local fonts -->
<!--   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>-->
   <link rel="stylesheet" type="text/css" href="template/content/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="template/content/css/bootstrap-responsive.css">
   <link rel="stylesheet" type="text/css" href="template/content/css/bootmetro.css">
   <link rel="stylesheet" type="text/css" href="template/content/css/bootmetro-tiles.css">
   <link rel="stylesheet" type="text/css" href="template/content/css/bootmetro-charms.css">
   <link rel="stylesheet" type="text/css" title="default" href="template/content/css/metro-ui-light.css">
   <link rel="alternate stylesheet" type="text/css" title="dark" href="template/content/css/metro-ui-dark.css">
   <link rel="stylesheet" type="text/css" href="template/content/css/icomoon.css">

   <!--  these two css are to use only for documentation -->
   <script src="template/scripts/modernizr-2.6.1.min.js"></script>
</head>

<body >
   <STYLE>

DIV.page DIV.options {
position: absolute;
left: 0;
top: 0;
 width: 1366px !important;
 }
</STYLE>
	<div class="page" ng-controller="ControllerMain">

		<div class="options">
		<script src="template/scripts/colpick.js" type="text/javascript"></script>
<link rel="stylesheet" href="template/scripts/colpick.css" type="text/css"/>
<script src="template/scripts/styleswitch.js" type="text/javascript"></script>
   <header id="nav-bar" class="container-fluid">
      <div class="row-fluid">
         <div class="span8">
            <div id="header-container">

               <img ng-src='../gamemodes/{{Gamemode}}/logo.png' />
               <div class="dropdown">
                  <a class="header-dropdown dropdown-toggle accent-color" >
                   
            
                  </a>
          <!--        <ul class="dropdown-menu">
                  <li><a href="./hub.html">Hub</a></li>
                  <li><a href="./tiles-templates.html">Tile Templates</a></li>
                  <li><a href="./listviews.html">ListViews</a></li>
                  <li><a href="./appbar-demo.html">Demo App-Bar</a></li>
                  <li><a href="./table.html">Demo Table</a></li>
                  <li><a href="./icons.html">Icons</a></li>
                  <li><a href="./scaffolding.html">Bootstrap Scaffolding</a></li>
                  <li><a href="./base-css.html">Bootstrap Base CSS</a></li>
                  <li><a href="./components.html">Bootstrap Components</a></li>
                  <li><a href="./javascript.html">Bootstrap Javascript</a></li>
                  <li class="divider"></li>
                  <li><a href="./index.html">Home</a></li>
               </ul>-->
            </div>
            </div>
         </div>
       <div id="top-info" class="pull-right">
<!--        <a  class="pull-left">
            <div class="top-info-block">
               <h3>ToXIc</h3>
               <h4>Minecraft</h4>
            </div>
            <div class="top-info-block">
            </div>
         </a>
         <hr class="separator pull-left"/>-->
         <a id="settings" class="pull-left" href="#">
            <b class="icon-settings"></b>
         </a>
      </div>
   </div>
   </header>
   
   <div id="result" ng-include>
   
   </div>
   
   <style>
   #picker {
	margin:0;
	padding:0;
	border:0;
	width:115px;
	height:20px;
	outline: 1px solid rgba(0, 0, 0, 1);
	border-right:20px solid green;
	line-height:20px;
}
#picker2 {
	margin:0;
	padding:0;
	border:0;
	width:116px;
	outline: 1px solid rgba(0, 0, 0, 1);
	height:20px;
	border-right:20px solid green;
	line-height:20px;
}
   </style>
   <div id="charms" class="win-ui-dark" ng-hide="ShowBack" >
   
      <div id="theme-charms-section" class="charms-section">
         <div class="charms-header">
            <a href="#" class="close-charms win-command">
               <span class="win-commandimage win-commandring">&#xe05d;</span>
            </a>
            <h2>Settings</h2>
         </div>
   
         <div class="row-fluid">
            <div class="span12">
      			<form id="switchform">
				<label for="win-theme-select">Change theme:</label>
				<select id="leaveCode" name="switchcontrol" size="1" onChange="themech2(this.options[this.selectedIndex].value)">
				<option value="default" selected="selected">Default</option>
				<option value="metro">Metro</option>
				</select>
				</form>
<div id="tiles">
<h3>Change Tile Color:</h3>
<input type="text" id="picker"></input>
</div>
<h3>Change Bottom Bar Color:</h3>
<input type="text" id="picker2"></input>
		  </div>
         </div>
      </div>
   
   </div>


   <script type="text/javascript" src="template/scripts/google-code-prettify/prettify.js"></script>
   <script type="text/javascript" src="template/scripts/jquery.mousewheel.js"></script>
   <script type="text/javascript" src="template/scripts/jquery.scrollTo.js"></script>
   <script type="text/javascript" src="template/scripts/bootstrap.min.js"></script>
   <script type="text/javascript" src="template/scripts/bootmetro.js"></script>
   <script type="text/javascript" src="template/scripts/bootmetro-charms.js"></script>
   <script type="text/javascript" src="template/scripts/demo.js"></script>
   <script type="text/javascript" src="template/scripts/holder.js"></script>
   <script type="text/javascript">
      $(".metro").metro();
   </script>


		</div>

	</div>