<style>
   .metro-section.tile-span-5 {
width: 476px !important;
margin-left: 0;
}
.metro .tile .column-text {
font-size: 30px !important;

height: 18px;
font-weight: normal;
text-align: left;
 overflow: visible !important; 
}

.metro .tile .app-label {
font-size: 22px !important;
font-weight: normal !important;
}
[class^="icon-"], [class*=" icon-"] {
font-size: 50px !important;
line-height: 106px;

}
.metro .tile.wide.imagetext {
line-height: 106px;
}

.appl-center {

margin-left: -111px;

}
.metro .tile .app-label {
bottom: 59px !important;
font-size: 12px;
left: 70px !important;
position: absolute;
}
input[type="radio"], input[type="checkbox"] {
margin: -3px 0px 0px 4px !important;
}
UL.games_list LI span {
position: absolute;
left: 25px;
right: 22px;
 top: 0px !important; 
}
   </style>
   <div class="container-fluid">
      <div class="row-fluid">
         <div class="metro span12">
            <div class="metro-sections">
   
               <div id="section1" class="metro-section tile-span-4">
   
                  <h2><br></h2>
					<div ng-show="InGame">
                 <a class="tile wide imagetext bg-color-blue"  ng-click="BackToGame()" >
				 <center>
                     <div class="image-wrapper">
                        <b class="icon-play-2"></b>
                     </div>
                     		 					 <div class="column-text">Resume Game</div>
												 </center>
                  </a>
					</div>
					
					


				  <a class="tile wide imagetext bg-color-blue"  ng-href="#/newgame/" >
				  <center>
                     <div class="image-wrapper">
                        <b class="icon-new"></b>
                     </div>
                     		 					 <div class="column-text">New Game</div>
												 </center>

                  </a>
   
                  <a class="tile wide imagetext bg-color-blue"  ng-href="#/servers/" >
				  <center>
                     <div class="image-wrapper">
                        <b class="icon-users"></b>
                     </div>
					 
                     		 					 <div class="column-text">Find Server</div>
												 </center>
                  </a>
				   <div ng-show="InGame">
                    <a class="tile  app bg-color-blue"  ng-href="#/saves/" >
					<center>
					<div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-folder"></b>
                     </div>
                     		 					 <div class="app-label">Saves</div>
												 </div>
												 </center>
                  </a>
   
                  
				<a class="tile app bg-color-blue"  ng-href="#/demos/" >
				<center>
				<div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-movie"></b>
                     </div>
                     		 					 <div class="app-label">Demos</div>
												 </div>
												 </center>
                  </a>
				  </div>
				  <div ng-hide="InGame">
				                      <a class="tile wide imagetext bg-color-blue"  ng-href="#/saves/" >
									  <center>
                     <div class="image-wrapper">
                        <b class="icon-folder"></b>
                     </div>
                     		 					 <div class="column-text">Saves</div>
												 </center>
                  </a>
   
                  
				<a class="tile wide imagetext bg-color-blue"  ng-href="#/demos/" >
				<center>
                     <div class="image-wrapper">
                        <b class="icon-movie"></b>
                     </div>
                     		 					 <div class="column-text">Demos</div>
												 </center>
                  </a>
				  
					</div>
       <!--            <a class="tile app bg-color-purple" href="./listviews.html">
                     <div class="image-wrapper">
                        <span class="icon icon-list-2"></span>
                     </div>
                     <span class="app-label">ListView</span>
                  </a>-->
   
  <!--            <a class="tile app bg-color-red" href="./charms-demo.html">
                     <div class="image-wrapper">
                        <span class="icon icon-publish"></span>
                     </div>
                     <span class="app-label">[TODO] Charms</span>
                  </a> -->
   
        <!--          <a class="tile app bg-color-yellow" href="./images.html">
                     <div class="image-wrapper">
                        <span class="icon icon-images"></span>
                     </div>
                     <span class="app-label">[TODO] Images</span>
                  </a>
   
                  <a class="tile app bg-color-blueDark" href="./icons.html">
                     <div class="image-wrapper">
                        <span class="icon icon-IcoMoon" ></span>
                     </div>
                     <span class="app-label">Icons</span>
                  </a>
   -->
               </div> 

       <div id="section2" class="metro-section tile-span-5">
   
                  <h2><br></h2>
   
                    <a class="tile app bg-color-blue"  ng-href="#/addons/" >
					<center>
					<div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-plus-3"></b>
                     </div>
                     <div class="app-label">Addons</div>
					 </div>
					 </center>
                  </a> 

				  <a class="tile app  bg-color-blue"  ng-click="MenuOption( this, 'OpenOptionsDialog')" >
					<center>
					<div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-settings"></b>
                     </div>
                     <div class="app-label">Options</div>
					 </div>
					 </center>
                  </a>
					<div ng-show="InGame">
                  <a class="tile app bg-color-blue"  ng-click="MenuOption( this, 'engine disconnect');" >
				  <center>
				  <div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-cancel"></b>
                     </div>
                     <div class="app-label">Leave</div>
					 </div>
					 </center>
                  </a>
				  </div>
				  
                    <a class="tile app bg-color-blue"  ng-click="MenuOption( this, 'Quit')" >
					<center>
					<div class="appl-center">
                     <div class="image-wrapper">
                        <b class="icon-exit"></b>
                     </div>
                     <div class="app-label">Quit</div>
					 </div>
					 </center>
                  </a>
   
           <!--        <a class="tile wide imagetext bg-color-blueDark" href="./base-css.html">
                     <div class="image-wrapper">
                        <img src="template/content/img/Coding app.png" />
                     </div>
                     <div class="column-text">
                        <div class="text">Typography</div>
                        <div class="text">Tables</div>
                        <div class="text">Forms</div>
                        <div class="text">Buttons</div>
                     </div>
                     <span class="app-label">BASE CSS</span>
                  </a>-->
   
            <!--       <a class="tile app bg-color-orange" href="./components.html">
                     <div class="image-wrapper">
                        <img src="template/content/img/RegEdit.png" alt="" />
                     </div>
                     <span class="app-label">COMPONENTS</span>
                  </a>
   
           <!--       <a class="tile app bg-color-red" href="./javascript.html">
                     <div class="image-wrapper">
                        <img src="template/content/img/Devices.png" alt="" />
                     </div>
                     <span class="app-label">JAVASCRIPT</span>
                  </a>-->
   
               </div>
   
    <!--           <div id="section3" class="metro-section tile-span-2">
                 <h2>Category 3</h2>
                 <div class="tile tile-double bg-color-blue">-->
                     <!--<div class="tile-icon-large">-->
                        <!--<img src="template/content/img/Live%20SkyDrive.png" />-->
                     <!--</div>-->
                     <!--<span class="tile-label">Live SkyDrive</span>-->
                  <!--</div>-->
                  <!--<div class="tile bg-color-blueDark">-->
                     <!--<div class="tile-icon-large">-->
                        <!--<img src="template/content/img/Bluetooth.png" />-->
                     <!--</div>-->
                     <!--<span class="tile-label">Bluetooth</span>-->
                  <!--</div>-->
                  <!--<div class="tile bg-color-red">-->
                     <!--<div class="tile-icon-large">-->
                        <!--<img src="template/content/img/Control%20Panel.png" />-->
                     <!--</div>-->
                     <!--<span class="tile-label">Control Panel</span>-->
                  <!--</div>-->
                  <!--<div class="tile bg-color-green">-->
                     <!--<div class="tile-icon-large">-->
                        <!--<img src="template/content/img/Signal.png" />-->
                     <!--</div>-->
                     <!--<span class="tile-label">WiFi Settings</span>-->
                  <!--</div>-->
                  <!--<div class="tile bg-color-yellow">-->
                     <!--<div class="tile-icon-large">-->
                        <!--<img src="template/content/img/Computer%20alt%202.png" />-->
                     <!--</div>-->
                     <!--<span class="tile-label">My Computer</span>-->
                  <!--</div>-->
               <!--</div>-->
   
            </div>
   
            <!-- <a id="tiles-scroll-prev" class="win-command carousel-control left" href="#metro-carousel" data-slide="prev">
               <span class="win-commandimage win-commandring">&#xe05d;</span>
            </a>
            <a id="tiles-scroll-next"  class="win-command carousel-control right" href="#metro-carousel" data-slide="next">
               <span class="win-commandimage win-commandring">&#xe059;</span>
            </a> -->
   
         </div>
      </div>
   </div>